@layer components {
  .desktop-app {
    @apply p-4 w-full h-full flex flex-col flex-wrap justify-center content-center items-center;

    &:hover {
      .app-icon-gradient, .app-icon-card, .app-icon-open-layer {
        @apply scale-95;
      }

      .app-name {
        @apply scale-110;
      }
    }

    .app-icon-wrapper {
      @apply relative w-28 h-28 sm:w-32 sm:h-32 md:w-48 md:h-48 lg:w-48 lg:h-48;

      .app-icon-open-layer {
        @apply absolute z-20 w-full h-full bg-gray-200 rounded-3xl cursor-pointer;
      }

      .app-icon-gradient {
        @apply absolute z-10 w-full h-full rounded-3xl cursor-pointer;
        -webkit-box-shadow: 0 0 32px 26px rgba(34, 60, 80, 0.2) inset;
        -moz-box-shadow: 0 0 32px 26px rgba(34, 60, 80, 0.2) inset;
        box-shadow: 0 0 32px 26px rgba(34, 60, 80, 0.2) inset;
      }

      .app-icon-card {
        @apply w-full h-full rounded-3xl cursor-pointer hover:scale-95 drop-shadow-xl;

        .app-icon {
          @apply w-full h-full p-6 lg:p-8 transition-none drop-shadow-xl;

          svg {
            @apply fill-gray-200 dark:fill-gray-400 stroke-gray-200 dark:stroke-gray-400
          }
        }
      }
    }

    .app-name {
      @apply mt-4 font-sans text-gray-100 dark:text-gray-300 text-lg subpixel-antialiased font-semibold capitalize text-ellipsis align-middle break-words;
    }
  }
}